@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Karla", sans-serif;
  line-height: 1;
  &:focus {
    outline: none;
  }
}

body {
  font-family: "Karla", sans-serif;
}
.container {
  width: 100%;
  padding-left: 90px;
  padding-right: 90px;
}
.sticky_menu {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #fff;
  display: none;
  transition: 2s display;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.09);
  .container {
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo {
      flex: 1;
      a {
        svg {
          color: #ff385c;
        }
      }
    }
    .input {
      position: relative;
      input[type="text"]::placeholder {
        color: #333;
      }
      input[type="text"] {
        width: 300px;
        height: 48px;
        border: 1px solid #dddddd;
        border-radius: 40px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        padding: 0px 24px;
        font-weight: 600;
        font-size: 14px;
      }
      svg {
        position: absolute;
        top: 8px;
        right: 8px;
        color: black;
        background-color: #ff385c;
        padding: 8px 6px;
        height: 32px;
        width: 32px;
        border-radius: 50px;
        path {
          stroke: #fff;
        }
      }
    }
    .profile {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
        padding: 12px;
        border-radius: 30px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        .svg_country {
          width: 18px;
          height: 16px;
          path {
            fill: #000;
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
      .active_profile {
        background-color: #fff;
        padding: 3px 6px 3px 9px;
        margin-left: 10px;
        border: 1px solid #dddddd;
        .svg_threeline {
          height: 11px;
        }
        .svg_profile {
          margin-left: 10px;
          height: 30px;
          width: 30px;
          path {
            fill: gray;
          }
        }
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
.shadow {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  opacity: 0.4;
  position: absolute;
  top: 0;
}
.main {
  height: 800px;
  background-image: url("../img/hero.webp");
  background-size: cover;
  background-position-y: bottom;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      height: 80px;
      width: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      ul {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          line-height: 1.4;
          margin-left: 30px;
          a {
            color: #fff;
            font-size: 17px;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &:hover {
              opacity: 0.8;
            }
            .active {
              width: 20px;
              height: 2px;
              background-color: #fff;
              position: absolute;
              bottom: -12px;
              opacity: 1;
            }
          }
          &:first {
            margin-left: 0px;
          }
        }
      }
      .profile {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
          padding: 12px;
          border-radius: 30px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          .svg_country {
            width: 18px;
            height: 16px;
            path {
              fill: #fff;
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
        .active_profile {
          background-color: #fff;
          padding: 3px 6px 3px 9px;
          margin-left: 10px;
          .svg_threeline {
            height: 11px;
          }
          .svg_profile {
            margin-left: 10px;
            height: 30px;
            width: 30px;
            path {
              fill: gray;
            }
          }
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
    .form {
      width: 850px;
      height: 66px;
      background-color: #fff;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 auto;
      .active {
        box-shadow: 6px 0px 20px rgba(#000, 0.1);
      }
      .form_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 0.3px;
        height: 66px;
        border-radius: 50px;
        padding-left: 30px;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(#f1f1f1, 0.7);
        }
        input[type="text"] {
          margin-top: 5px;
          background-color: transparent;
          cursor: pointer;
        }
        input[type="text"]::placeholder {
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: #222;
          opacity: 0.6;
          letter-spacing: 0.3px;
        }
      }
      .input1 {
        flex: 2;
      }
      .input4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        .item {
          display: flex;
          flex-direction: column;
        }
        .form_button {
          flex: unset;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ff385c;
          color: #fff;
          width: 48px;
          height: 48px;
          padding-left: 0px;
          margin-right: 10px;
          &:hover {
            background-color: #ff385c;
          }
          svg {
            margin-left: 3px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .not_sure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 270px;
      h3 {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.4;
        font-weight: 500;
      }
      .flex_button {
        width: 200px;
        height: 64px;
        margin-top: 16px;
        background-color: #fff;
        border-radius: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c6017e;
        font-weight: 800;
        font-size: 19px;
        letter-spacing: -0.5px;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
        transition: 0.3s box-shadow;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
          transition: 0.3s box-shadow;
        }
      }
    }
  }
}

.explore_nearby {
  margin: 24px 0px;
  .container {
    .heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 52px;
      margin-bottom: 16px;
    }
    .cities {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: row;
      gap: 16px;
      .city {
        display: flex;
        padding: 0xp 8px;
        flex: 1;
        img {
          width: 64px;
          height: 64px;
          border-radius: 8px;
          margin-right: 16px;
        }
        .city_details {
          display: flex;
          justify-content: center;
          flex-direction: column;
          .city_name {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
          }
          .city_distance {
            margin-top: 2px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: #222;
          }
        }
      }
    }
  }
}

.live_things {
  margin-top: 64px;
  .container {
    .heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 52px;
      margin-bottom: 16px;
    }
    .stays {
      display: flex;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 33.333%;
        margin-right: 10px;
        span {
          font-size: 14px;
          line-height: 1.2;
          font-weight: 400;
          margin-top: 5px;
          color: #222;
        }
        &:last-child {
          margin-right: 0px;
        }
        img {
          width: 520px;
          height: 520px;
          border-radius: 10px;
        }
        .item_heading {
          font-size: 18px;
          font-weight: 500;
          margin-top: 8px;
        }
      }
    }
  }
}

.try_hosting {
  margin-top: 64px;
  .container {
    .host_background {
      height: 482px;
      background-image: url("../img/host.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding-left: 80px;
      .details {
        color: #fff;
        width: max-content;
        display: flex;
        flex-direction: column;
        height: max-content;
        .host_heading {
          font-size: 48px;
          line-height: 1.2;
        }
        .host_details {
          display: block;
          font-size: 18px;
          line-height: 1.4;
          margin-top: 5px;
          width: 350px;
          font-weight: 300;
        }
        .host_learn_more_button {
          margin-top: 40px;
          background-color: #fff;
          color: #000;
          width: max-content;
          border-radius: 5px;
          font-size: 16px;
          padding: 14px 24px;
          font-weight: 500;
        }
      }
    }
  }
}

.future_getaways {
  margin-top: 64px;
  margin-bottom: 64px;
  .container {
    .scope {
      .heading {
        font-size: 32px;
        font-weight: 700;
        line-height: 52px;
        margin-bottom: 16px;
      }
      nav {
        border-bottom: 1px solid rgb(221, 221, 221);
        ul {
          display: flex;
          li {
            font-size: 14px;
            font-weight: 500;
            padding: 10px;
            margin-left: 10px;
            cursor: pointer;
            position: relative;
            border-radius: 8px;
            color: #717171;
            .bottom_border {
              width: calc(100% - 20px);
              background-color: black;
              height: 2px;
              margin-top: 10px;
              position: absolute;
            }
            &:first-child {
              margin-left: -10px;
              color: #000;
            }
            &:hover {
              background-color: #f7f7f7;
            }
          }
        }
      }
      .cities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
        gap: 8px;
        .city {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          padding: 8px 0px;
          margin: 8px 0px;
          .city_name {
            font-size: 14px;
            color: rgb(34, 34, 34);
          }
          .city_state {
            font-size: 14px;
            padding-top: 2px;
            color: rgb(113, 113, 113);
          }
        }
      }
    }
  }
}
.footer {
  padding-top: 48px;
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;
  .container {
    .footer_top {
      padding-bottom: 48px;
      display: flex;
      .column {
        flex: 1;
        .footer_heading {
          font-size: 13px;
          color: #222;
          font-weight: 700;
          padding-bottom: 10px;
        }
        ul {
          li {
            margin-top: 16px;
            a {
              color: #333;
              font-size: 14px;
              line-height: 18px;
              &:hover {
                color: #555;
              }
            }
          }
        }
      }
    }
    .footer_bottom {
      border-top: 1px solid #dddddd;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        span {
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          color: #222222;
        }
        ul {
          display: flex;
          li {
            font-size: 14px;
            line-height: 18px;
            color: #222222;
            margin-left: 12px;
          }
        }
      }
      .right {
        display: flex;
        .icon {
          display: flex;
          align-items: center;
          margin-right: 24px;
          svg {
            height: 16px;
            width: 16px;
          }
          span {
            margin-left: 8px;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .social {
          display: flex;
          align-items: center;
          svg {
            margin-left: 24px;
          }
        }
      }
    }
  }
}
