@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");
@import "./mixin.scss";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Karla", sans-serif;
  line-height: 1;
  &:focus {
    outline: none;
  }
}

body {
  font-family: "Karla", sans-serif;
}
.container {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  @include mq("tablet") {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mq("desktop") {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mq("large") {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.sticky_menu {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #fff;
  display: none;
  transition: 2s display;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.09);
  .container {
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo2 {
      flex: 1;
      display: none;
      @include mq("tablet") {
        display: flex;
      }
      a {
        svg {
          color: #ff385c;
        }
      }
    }
    .input2 {
      position: relative;
      width: 100%;
      @include mq("tablet") {
        width: unset;
      }
      input[type="text"]::placeholder {
        color: #333;
      }
      input[type="text"] {
        width: 100%;
        @include mq("tablet") {
          width: 300px;
        }
        height: 48px;
        border: 1px solid #dddddd;
        border-radius: 40px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        padding: 0px 24px;
        font-weight: 600;
        font-size: 14px;
      }
      svg {
        position: absolute;
        top: 8px;
        right: 8px;
        color: black;
        background-color: #ff385c;
        padding: 8px 6px;
        height: 32px;
        width: 32px;
        border-radius: 50px;
        path {
          stroke: #fff;
        }
      }
    }
    .profile2 {
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      display: none;
      @include mq("tablet") {
        display: flex;
      }
      a {
        padding: 12px;
        border-radius: 30px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        .svg_country {
          width: 18px;
          height: 16px;
          path {
            fill: #000;
          }
        }
        &:hover {
          background-color: rgba(#f7f7f7, 1);
        }
      }
      .active_profile {
        background-color: #fff;
        padding: 3px 6px 3px 9px;
        margin-left: 10px;
        max-height: 42px;
        height: 70px;
        border: 1px solid #dddddd;
        .svg_threeline {
          height: 11px;
        }
        .svg_profile {
          margin-left: 10px;
          height: 30px;
          width: 30px;
          path {
            fill: gray;
          }
        }
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
.shadow {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  opacity: 0.4;
  position: absolute;
  top: 0;
}
.main {
  background-size: cover;
  background-position-y: bottom;
  .container {
    padding-left: 0px;
    padding-right: 0px;
    @include mq("tablet") {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include mq("desktop") {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include mq("large") {
      padding-left: 80px;
      padding-right: 80px;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    @include mq("mobile") {
      height: 90vh;
    }
    @include mq("tablet") {
      height: 650px;
    }
    @include mq("desktop") {
      height: 580px;
    }
    @include mq("large") {
      height: 790px;
    }
    .resim {
      z-index: -2;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-size: cover;
      img {
        position: absolute;
        left: 0;
        right: 0;
        object-fit: cover;
        object-position: center bottom;
        vertical-align: bottom;
        width: 100%;
        height: 100%;
      }
    }

    .header {
      width: 100%;
      color: white;
      display: none;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      @include mq("tablet") {
        display: flex;
      }
      .logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      ul {
        flex: 1;
        display: none;
        align-items: center;
        justify-content: center;
        @include mq("desktop") {
          display: flex;
        }
        li {
          line-height: 1.4;
          margin-left: 30px;
          a {
            color: #fff;
            font-size: 17px;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: 20px;
            @include mq("desktop") {
              font-size: 14px;
              font-weight: 400;
              width: max-content;
            }
            @include mq("large") {
              font-size: 17px;
              font-weight: 300;
            }
            &:hover {
              opacity: 0.8;
            }
            .active {
              width: 20px;
              height: 2px;
              background-color: #fff;
              position: absolute;
              bottom: -12px;
              opacity: 1;
            }
          }
          &:first {
            margin-left: 0px;
          }
        }
      }
      .profile {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
          padding: 12px;
          border-radius: 30px;
          color: #fff;
          width: max-content;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          margin-left: 12px;
          .svg_country {
            width: 18px;
            height: 16px;
            path {
              fill: #fff;
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
        .active_profile {
          background-color: #fff;
          padding: 3px 6px 3px 9px;
          max-height: 42px;
          height: 70px;
          .svg_threeline {
            height: 11px;
          }
          .svg_profile {
            margin-left: 10px;
            height: 30px;
            width: 30px;
            path {
              fill: gray;
            }
          }
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
    .menu {
      display: none;
      align-items: center;
      justify-content: center;
      height: 80px;
      margin-top: -16px;
      @include mq("tablet") {
        display: flex;
      }
      @include mq("desktop") {
        display: none;
      }
      li {
        line-height: 1.4;
        margin-left: 30px;
        height: 40px;
        a {
          color: #fff;
          font-size: 17px;
          font-weight: 300;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          margin-top: 0px;
          &:hover {
            opacity: 0.8;
          }
          .active {
            width: 20px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: -12px;
            opacity: 1;
          }
        }
        &:first {
          margin-left: 0px;
        }
      }
    }
    .menu2 {
      display: none;
      align-items: center;
      justify-content: center;
      height: 80px;
      margin-top: -16px;
      @include mq("tablet") {
        display: flex;
      }
      @include mq("desktop") {
        display: none;
      }
      li {
        line-height: 1.4;
        margin-left: 30px;
        a {
          color: #fff;
          font-size: 17px;
          font-weight: 300;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          &:hover {
            opacity: 0.8;
          }
          .active {
            width: 20px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: -12px;
            opacity: 1;
          }
        }
        &:first {
          margin-left: 0px;
        }
      }
    }
    .mobile_form {
      display: flex;
      width: 100%;
      padding: 16px 24px 0px 24px;
      position: relative;
      @include mq("tablet") {
        display: none;
      }
      label {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        opacity: 1;
        text-align: center;
        color: #000;
        width: calc(100% - 48px);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        svg {
          margin-right: 10px;
          color: #ff385c;
        }
      }
      input[type="text"] {
        cursor: pointer;
        width: 100%;
        background-color: #fff;
        border-radius: 50px;
        height: 48px;
      }
    }
    .formm {
      width: 850px;
      .form {
        // width: 850px;
        width: 100%;
        max-width: 850px;
        height: 66px;
        background-color: #fff;
        border-radius: 50px;
        display: none;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;

        @include mq("tablet") {
          display: flex;
        }
        .seperator {
          width: 1px;
          height: 30px;
          background-color: #dddddd;
        }

        .form_item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;
          font-size: 13px;
          line-height: 16px;
          font-weight: 700;
          letter-spacing: 0.3px;
          height: 66px;
          border-radius: 50px;
          padding-left: 30px;
          justify-content: center;
          cursor: pointer;
          &:hover {
            background-color: rgba(#f1f1f1, 0.7);
          }
          input[type="text"] {
            margin-top: 5px;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
          }
          input[type="text"]::placeholder {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: #222;
            opacity: 0.6;
            white-space: normal;
            letter-spacing: 0.3px;
          }
        }
        .input1 {
          flex: 1;
          @include mq("desktop") {
            flex: 2;
          }
        }
        .input4 {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex: 1.5;
          .item {
            display: flex;
            flex-direction: column;
          }
          .form_button {
            flex: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ff385c;
            color: #fff;
            min-width: 48px;
            height: 48px;
            padding-left: 0px;
            margin-right: 10px;
            &:hover {
              background-color: #ff385c;
            }
            svg {
              margin-left: 3px;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
    .not_sure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 270px;
      @include mq("mobile") {
        margin-top: 350px;
      }
      @include mq("tablet") {
        margin-top: 230px;
      }
      @include mq("desktop") {
        margin-top: 150px;
      }
      @include mq("large") {
        margin-top: 270px;
      }
      h3 {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.2;
        font-weight: 500;
        width: 200px;
        text-align: center;
        @include mq("tablet") {
          width: 100%;
          text-align: center;
        }
      }
      .flex_button {
        height: 50px;
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 16px;
        background-color: #fff;
        border-radius: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c6017e;
        font-weight: 800;
        font-size: 19px;
        letter-spacing: -0.5px;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
        transition: 0.3s box-shadow;
        cursor: pointer;
        @include mq("tablet") {
          width: 200px;
          height: 64px;
        }
        &:hover {
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
          transition: 0.3s box-shadow;
        }
      }
    }
    .bottom_menu {
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 64px;
      border-top: 1px solid #dddddd;
      background-color: #fff;
      z-index: 99;
      @include mq("tablet") {
        display: none;
      }
      .menu_items {
        display: flex;
        justify-content: center;
        height: 64px;
        .active {
          svg {
            color: #ff385c;
          }
          span {
            color: #ff385c;
          }
        }
        .menu_item {
          display: flex;
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          max-width: 20%;
          min-width: 0px;
          flex: 1 1 0px;
          color: #717171;
          cursor: pointer;
          &:hover {
            color: #ff385c;
          }
          span {
            font-size: 10px;
            font-weight: 600;
            margin-top: 6px;
          }
        }
      }
    }
  }
}
.heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
  @include mq("tablet") {
    font-size: 26px;
    margin-bottom: 16px;
  }
  @include mq("desktop") {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
.explore_nearby {
  margin: 24px 0px;
  .container {
    .cities {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: row;
      gap: 16px;
      //
      max-width: 100%;
      overflow: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      // scroll-padding: 1rem;
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
      @include mq("tablet") {
        max-width: unset;
        overflow: unset;
        scroll-snap-type: unset;
        -webkit-overflow-scrolling: unset;
        border-radius: unset;
      }
      .city {
        display: flex;
        padding: 0xp 8px;
        width: 280px;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        @include mq("tablet") {
          width: unset;
          scroll-snap-align: unset;
        }
        img {
          width: 72px;
          height: 72px;
          border-radius: 8px;
          margin-right: 16px;
          @include mq("tablet") {
            width: 54px;
            height: 54px;
          }
          @include mq("desktop") {
            width: 72px;
            height: 72px;
          }
        }
        .city_details {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          .city_name {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
          }
          .city_distance {
            margin-top: 2px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: #222;
          }
        }
      }
    }
  }
}

.live_things {
  margin-top: 64px;
  .container {
    .stays {
      display: flex;
      max-width: 100%;
      overflow: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }
      @include mq("tablet") {
        max-width: unset;
        overflow: unset;
        scroll-snap-type: unset;
        -webkit-overflow-scrolling: unset;
        border-radius: unset;
      }
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 20px;
        width: 280px;
        align-items: center;
        scroll-snap-align: start;
        text-align: center;
        @include mq("tablet") {
          width: 100%;
          scroll-snap-align: unset;
        }
        span {
          font-size: 14px;
          line-height: 1.2;
          font-weight: 400;
          color: #222;
          height: 100%;
          width: 100%;
          text-align: left;
        }
        &:last-child {
          margin-right: 0px;
        }
        img {
          height: 272px;
          width: 272px;
          object-fit: cover;
          @include mq("tablet") {
            width: 100%;
            height: 100%;
          }
          border-radius: 10px;
        }
        .item_heading {
          font-size: 18px;
          font-weight: 500;
          margin-top: 8px;
        }
      }
    }
  }
}

.try_hosting {
  margin-top: 64px;
  .container {
    .host_background {
      display: flex;
      height: 600px;
      border-radius: 20px;
      flex-direction: column;
      position: relative;
      background-color: #232323;
      z-index: 0;
      justify-content: space-between;
      @include mq("tablet") {
        display: flex;
        height: 360px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      @include mq("desktop") {
        height: 482px;
      }
      img {
        height: 50%;
        width: 100%;
        object-fit: cover;
        object-position: right;
        z-index: -1;
        border-radius: 0px 0px 20px 20px;
        @include mq("tablet") {
          height: 360px;
          position: absolute;
          right: 0px;
          object-fit: cover;
          object-position: center;
          border-radius: 20px;
        }
        @include mq("desktop") {
          height: 482px;
        }
      }
      .details {
        color: #fff;
        width: max-content;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 50%;
        padding-top: 32px;
        @include mq("tablet") {
          height: max-content;
          padding-top: 0px;
          align-items: flex-start;
          justify-content: center;
          padding-left: 40px;
        }
        @include mq("desktop") {
          padding-left: 80px;
        }

        .host_heading {
          font-size: 30px;
          line-height: 1.2;
          @include mq("tablet") {
            font-size: 30px;
            line-height: 1.2;
          }
          @include mq("desktop") {
            font-size: 48px;
            line-height: 1.2;
          }
        }
        .host_details {
          display: block;
          font-size: 16px;
          line-height: 1.4;
          margin-top: 5px;
          width: 100%;
          font-weight: 300;
          text-align: center;
          @include mq("tablet") {
            font-style: 16px;
            text-align: left;
            width: 300px;
          }
          @include mq("desktop") {
            font-style: 18px;
            width: 300px;
          }
        }
        .host_learn_more_button {
          background-color: #fff;
          color: #000;
          width: max-content;
          border-radius: 5px;
          font-size: 14px;
          padding: 9px 16px;
          font-weight: 500;
          margin-top: 16px;
          @include mq("tablet") {
            font-size: 14px;
            padding: 9px 16px;
            margin-top: 16px;
          }
          @include mq("desktop") {
            font-size: 16px;
            padding: 14px 24px;
            margin-top: 40px;
          }
        }
      }
    }
  }
}

.future_getaways {
  margin-top: 64px;
  margin-bottom: 64px;
  .container {
    .scope {
      nav {
        border-bottom: 1px solid rgb(221, 221, 221);
        height: 34px;
        ul {
          max-width: 100%;
          overflow: auto;
          scroll-snap-type: x mandatory;
          -webkit-overflow-scrolling: touch;
          display: flex;
          &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
          }
          li {
            margin-right: 0px;
            scroll-snap-align: start;
            font-size: 14px;
            font-weight: 500;
            padding: 10px;
            margin-left: 10px;
            cursor: pointer;
            position: relative;
            border-radius: 8px;
            color: #717171;
            min-width: max-content;
            @include mq("tablet") {
              margin-right: 20px;
            }
            .bottom_border {
              width: calc(100% - 20px);
              background-color: black;
              height: 2px;
              margin-top: 10px;
              position: absolute;
              bottom: 0px;
            }
            &:first-child {
              margin-left: -10px;
              color: #000;
            }
            &:hover {
              background-color: #f7f7f7;
            }
          }
        }
      }
      .cities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        gap: 8px;
        @include mq("tablet") {
          grid-template-columns: repeat(3, 1fr);
        }
        @include mq("desktop") {
          grid-template-columns: repeat(3, 1fr);
        }
        @include mq("large") {
          grid-template-columns: repeat(4, 1fr);
        }
        .city {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          padding: 8px 0px;
          margin: 8px 0px;
          .city_name {
            font-size: 14px;
            color: rgb(34, 34, 34);
          }
          .city_state {
            font-size: 14px;
            padding-top: 2px;
            color: rgb(113, 113, 113);
          }
        }
      }
    }
  }
}
.footer {
  padding-top: 48px;
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;
  z-index: 99999;
  // padding-bottom: 48px;
  .container {
    .footer_top {
      display: flex;
      flex-direction: column;
      @include mq("desktop") {
        flex-direction: column;
      }
      @include mq("large") {
        flex-direction: row;
      }
      .column {
        flex: 1;
        border-bottom: 1px solid #dddddd;
        padding-top: 24px;
        padding-bottom: 24px;
        &:last-child {
          border: none;
        }
        @include mq("large") {
          border: none;
        }
        &:first-child {
          padding-top: 0px;
        }
        .footer_heading {
          font-size: 13px;
          color: #222;
          font-weight: 700;
          padding-bottom: 10px;
          margin-bottom: 12px;
        }
        ul {
          @include mq("tablet") {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: row;
            gap: 12px;
          }
          @include mq("large") {
            display: block;
          }
          li {
            margin-top: 16px;
            @include mq("tablet") {
              margin-top: 0px;
            }
            @include mq("large") {
              margin-top: 16px;
            }
            a {
              color: #333;
              font-size: 14px;
              line-height: 18px;
              &:hover {
                color: #555;
              }
            }
          }
        }
      }
    }
    .footer_bottom {
      padding-top: 20px;
      border-top: 1px solid #dddddd;
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 64px;
      @include mq("tablet") {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0px;
      }
      @include mq("large") {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 69px;
        padding-bottom: 20px;
      }
      .left {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        @include mq("tablet") {
          flex-direction: column;
          align-items: center;
        }
        @include mq("large") {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0px;
        }
        span {
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          color: #222222;
          margin-top: 20px;
          @include mq("large") {
            margin-top: 0px;
          }
        }
        ul {
          display: flex;
          margin-top: 5px;
          @include mq("large") {
            margin-top: 0px;
          }
          li {
            font-size: 14px;
            line-height: 18px;
            color: #222222;

            &:first-child::before {
              content: "";
              margin-left: 0px;
              margin-right: 0px;
            }
            &::before {
              content: "·";
              margin-right: 10px;
              margin-left: 10px;
            }
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        @include mq("tablet") {
          flex-direction: row;
        }
        .icons {
          display: flex;
          flex-direction: row;

          .icon {
            display: flex;
            align-items: center;
            margin-right: 24px;
            flex-direction: row;

            svg {
              height: 16px;
              width: 16px;
            }
            span {
              margin-left: 8px;
              text-decoration: underline;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
        .social {
          display: none;
          align-items: center;
          @include mq("tablet") {
            display: flex;
          }
          svg {
            margin-left: 24px;
          }
        }
      }
    }
  }
}

.menu_other {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: #fff;
  display: flex;
  transition: 2s display;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.09);
  .container {
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 24px;
    padding-right: 24px;
    .logo2 {
      flex: 1;
      display: none;
      @include mq("tablet") {
        display: flex;
      }
      a {
        svg {
          color: #ff385c;
        }
      }
    }
    .input2 {
      position: relative;
      height: 46px;
      border: 1px solid #dddddd;
      display: flex;
      align-items: center;
      width: 347px;
      border-radius: 40px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      span {
        width: max-content;
        height: 30px;
        font-weight: 400;
        font-size: 14px;
        padding: 0px 16px;
        display: flex;
        color: #717171;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        &:first-child {
          margin-left: 8px;
          color: black;
          font-weight: 600;
        }
        &:last-child {
          flex: unset;
          width: 30px;
          border: none;
        }
        &:nth-child(1),
        &:nth-child(2) {
          border-right: 1px solid #ddd;
        }
      }
      svg {
        position: absolute;
        top: 8px;
        right: 8px;
        color: black;
        background-color: #ff385c;
        padding: 8px 6px;
        height: 32px;
        width: 32px;
        border-radius: 50px;
        path {
          stroke: #fff;
        }
      }
    }
    .profile2 {
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      display: none;
      @include mq("tablet") {
        display: flex;
      }
      a {
        padding: 12px;
        border-radius: 30px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        .svg_country {
          width: 18px;
          height: 16px;
          path {
            fill: #000;
          }
        }
        &:hover {
          background-color: rgba(#f7f7f7, 1);
        }
      }
      .active_profile {
        background-color: #fff;
        padding: 3px 6px 3px 9px;
        margin-left: 10px;
        max-height: 42px;
        height: 70px;
        border: 1px solid #dddddd;
        .svg_threeline {
          height: 11px;
        }
        .svg_profile {
          margin-left: 10px;
          height: 30px;
          width: 30px;
          path {
            fill: gray;
          }
        }
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
.stays {
  margin-top: 80px;
  .container {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    .left {
      width: 47%;
      .stays_header {
        display: flex;
        padding-left: 24px;
        padding-right: 24px;
        flex-direction: column;
        padding-top: 50px;
        margin-bottom: 20px;
        .sub_heading {
          font-size: 14px;
          line-height: 18px;
          color: #222222;
          padding-bottom: 8px;
        }
        .heading {
          font-size: 32px;
          line-height: 36px;
          margin-bottom: 0px;
        }
        .filters {
          margin-top: 24px;
          display: flex;
          align-items: center;
          .filter {
            height: 38px;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            border: 1px solid rgb(176, 176, 176);
            text-align: center;
            border-radius: 30px;
            color: #222;
            margin-right: 8px;
            font-weight: 400;
            font-size: 14px;
          }
        }
        .sub_information {
          margin-top: 30px;
          font-size: 15px;
          line-height: 18px;
          font-weight: 300;
          font-weight: #222;
        }
      }
      .stays_list {
        padding-left: 24px;
        padding-right: 24px;

        .stays_item {
          border-top: 1px solid #f7f7f7;
          padding-top: 24px;
          padding-bottom: 24px;
          display: flex;
          flex-direction: row;
          width: 100%;
          position: relative;
          img {
            width: 300px;
            height: 200px;
            min-width: 300px;
            min-height: 200px;
            border-radius: 10px;
            object-fit: cover;
          }
          .superhost {
            position: absolute;
            top: 34px;
            left: 10px;
            background-color: #fff;
            border-radius: 3px;
            padding: 4px 8px;
            box-shadow: 0px 2px 4px rgba(0px, 0px, 0px, 0.18);
            font-size: 12px;
            font-weight: 800;
            color: #222;
          }
          .details {
            margin-left: 16px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .house_sub_heading {
              color: #6b6b6b;
              font-size: 14px;
              font-weight: 300;
              margin-bottom: 4px;
            }
            .house_heading {
              font-size: 18px;
              margin: 0px;
              color: #222;
              font-weight: 400;
              margin-top: 6px;
            }
            .seperator {
              margin-top: 16px;
              margin-bottom: 8px;
              width: 32px;
              background-color: #ddd;
              height: 1px;
            }
            .sub_details {
              display: flex;
              flex-direction: column;
              div {
                display: flex;
                margin-top: 6px;
                span {
                  font-size: 14px;
                  color: #484848;
                  font-weight: 300;
                  &:first-child::before {
                    content: "";
                    margin-right: 0px;
                    margin-left: 0px;
                  }
                  &::before {
                    content: "·";
                    margin-right: 5px;
                    margin-left: 5px;
                  }
                }
              }
            }
            .house_footer {
              width: 100%;
              display: flex;
              justify-content: space-between;
              height: 100%;
              align-items: flex-end;
              .house_left {
                width: max-content;
                color: #717171;
                font-weight: 400;
                font-size: 14px;
                display: flex;
                align-items: center;
                svg {
                  color: #ff385c;
                  margin-right: 5px;
                }
                span {
                  font-weight: 600;
                  margin-right: 5px;
                  color: #222;
                }
              }
              .house_right {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                .price {
                  font-size: 18px;
                  font-weight: 800;
                }
              }
            }
          }
          .favourite {
            position: absolute;
            top: 22px;
            right: -10px;
            cursor: pointer;
            padding: 12px;
            border-radius: 30px;
            &:hover {
              background-color: #f7f7f7;
            }
          }
          &:last-child {
            border-bottom: 1px solid #f7f7f7;
            padding-bottom: 24px;
          }
        }
      }
      .pagination {
        color: #000;
        width: 100%;
        margin-top: 52px;
        margin-bottom: 56px;
        text-align: center;
        .pages {
          display: flex;
          justify-content: center;
          span {
            height: 32px;
            width: 32px;
            border-radius: 16px;
            margin-left: 8px;
            margin-right: 8px;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
              background-color: #f7f7f7;
            }
          }
        }
        .pagination_info {
          font-size: 14px;
          font-weight: 400;
          color: #222;
          margin-top: 16px;
        }
        .pagination_moreinfo {
          font-size: 14px;
          font-weight: 300;
          color: #484848;
          margin-top: 32px;
        }
      }
      .also_search {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 56px;
        padding-bottom: 64px;
        background-color: #f7f7f7;
        .heading {
          font-size: 22px;
          font-weight: 600;
        }
        .other_cities {
          display: flex;
          margin-top: 24px;
          .other_city {
            display: flex;
            justify-content: center;
            margin-left: 8px;
            margin-right: 8px;
            flex: 1;
            height: 92px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: 0px 2px 8px rgba(0px, 0px, 0px, 0.15);
            padding: 16px;
            font-size: 18px;
            font-weight: 500;
            &:first-child {
              margin-left: 0px;
            }
            &:last-child {
              margin-right: 0px;
            }
            svg {
              width: 14px;
              height: 14px;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
    .right {
      position: relative;
      width: 53%;
      position: fixed;
      right: 0px;
      z-index: -1;
      img {
        width: 100%;
      }
    }
  }
}
