@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Karla", sans-serif;
  line-height: 1;
  &:focus {
    outline: none;
  }
}

body {
  font-family: "Karla", sans-serif;
}
.container {
  width: 100%;
  padding-left: 90px;
  padding-right: 90px;
}
.shadow {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
    to bottom,
    #000,
    rgba(0, 0, 0, 0)
  ) !important;
  opacity: 0.4;
  position: absolute;
  top: 0;
}
.main {
  height: 800px;
  background-image: url("../img/hero.webp");
  background-size: cover;
  background-position-y: bottom;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
      height: 80px;
      width: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      ul {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          line-height: 1.4;
          margin-left: 30px;
          a {
            color: #fff;
            font-size: 17px;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &:hover {
              opacity: 0.8;
            }
            .active {
              width: 20px;
              height: 2px;
              background-color: #fff;
              position: absolute;
              bottom: -12px;
              opacity: 1;
            }
          }
          &:first {
            margin-left: 0px;
          }
        }
      }
      .profile {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
          padding: 12px;
          border-radius: 30px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          .svg_country {
            width: 18px;
            height: 16px;
            path {
              fill: #fff;
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
        .active_profile {
          background-color: #fff;
          padding: 3px 6px 3px 9px;
          margin-left: 10px;
          .svg_threeline {
            height: 11px;
          }
          .svg_profile {
            margin-left: 10px;
            height: 30px;
            width: 30px;
            path {
              fill: gray;
            }
          }
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
    .form {
      width: 850px;
      height: 66px;
      background-color: #fff;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 auto;
      .active {
        box-shadow: 6px 0px 20px rgba(#000, 0.1);
      }
      .form_item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 0.3px;
        height: 66px;
        border-radius: 50px;
        padding-left: 30px;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(#f1f1f1, 0.7);
        }
        input[type="text"] {
          margin-top: 5px;
          background-color: transparent;
          cursor: pointer;
        }
        input[type="text"]::placeholder {
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: #222;
          opacity: 0.6;
          letter-spacing: 0.3px;
        }
      }
      .input1 {
        flex: 2;
      }
      .input4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        .item {
          display: flex;
          flex-direction: column;
        }
        .form_button {
          flex: unset;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ff385c;
          color: #fff;
          width: 48px;
          height: 48px;
          padding-left: 0px;
          margin-right: 10px;
          &:hover {
            background-color: #ff385c;
          }
          svg {
            margin-left: 3px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .not_sure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 270px;
      h3 {
        font-size: 19px;
        font-weight: 600;
        line-height: 1.4;
        font-weight: 500;
      }
      .flex_button {
        width: 200px;
        height: 64px;
        margin-top: 16px;
        background-color: #fff;
        border-radius: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c6017e;
        font-weight: 800;
        font-size: 19px;
        letter-spacing: -0.5px;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
        transition: 0.3s box-shadow;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
          transition: 0.3s box-shadow;
        }
      }
    }
  }
}

.explore_nearby {
  margin: 24px 0px;
  .container {
    .heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 52px;
      margin-bottom: 16px;
    }
    .cities {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: row;
      gap: 16px;
      .city {
        display: flex;
        padding: 0xp 8px;
        flex: 1;
        img {
          width: 64px;
          height: 64px;
          border-radius: 8px;
          margin-right: 16px;
        }
        .city_details {
          display: flex;
          justify-content: center;
          flex-direction: column;
          .city_name {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
          }
          .city_distance {
            margin-top: 2px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: #222;
          }
        }
      }
    }
  }
}

.live_anywhere {
  margin-top: 40px;
  .container {
    .heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 52px;
      margin-bottom: 16px;
    }
    .stays {
      display: flex;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 33.333%;
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
        img {
          width: 520px;
          height: 520px;
          border-radius: 10px;
        }
        .item_heading {
          font-size: 18px;
          font-weight: 500;
          margin-top: 8px;
        }
      }
    }
  }
}
